<div class="Center_orders">
  <div class="orderss">
    <%= form_tag do %>

        <fieldset>
          <legend><h1>Listing orders</h1></legend>
          <table>
            <tr>
              <th>Name</th>
              <th>Place</th>
              <th>Email</th>
              <th>Check</th>
              <th></th>
              <th></th>
              <th></th>
            </tr>
            <tbody>
            <% @orders.each do |order| %>
                <tr>
                  <td><%= order.name %></td>
                  <td><%= order.address %></td>
                  <td><%= order.email %></td>
                  <td><%= order.pay_type %></td>
                  <td><%= link_to 'Show', order %></td>
                  <td><%= link_to 'Edit', edit_order_path(order) %></td>
                  <td><%= link_to 'Destroy', order, method: :delete, data: {confirm: 'Are you sure?'} %></td>
                </tr>
            <% end %>
            </tbody>

          </table>


        </fieldset>
    <% end %>
  </div>


  <br>


</div>

