<div class="Center_orders">

  <p id="notice"><%= notice %></p>

  <%= form_tag do %>
      <fieldset>
        <legend><h1><%= @order.name %></h1></legend>
        <div>
          <p><strong>Address:</strong>
            <%= @order.address %></p>
        </div>
        <div>
          <p>
            <strong>Email:</strong>
            <%= @order.email %>
          </p>
        </div>
        <div>
          <p>
            <strong>Pay type:</strong>
            <%= @order.pay_type %>
          </p>
        </div>
        <div>
          <p>
            <%= link_to 'Edit', edit_order_path(@order) %> |
            <%= link_to 'Back', orders_path %>
          </p>
        </div>
      </fieldset>
  <% end %>

</div>

